.section-20-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    width:100%;
   p
   {
    text-align: center;
    font-size: 17px;
    a
    {
        font-size: 17px;
    }
   }
  
}