.link {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color:#3E4455;
    &:hover {
        a {
            color: red;
            text-decoration-line: underline;
        }
    }
}