.titlewarp
{
  transform: rotate(270deg);
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-top: 14rem;
  position: absolute;
  margin-bottom: -1rem;
    &__spdash
    {
      display: flex;
      justify-content: left;
      align-items: flex-start;
      font-weight: bolder;
      margin-top: -2.5rem;
      font-size: 2rem;
    }
    &__h2head
    {
      display: flex;
    justify-content: left;
    align-content: flex-start;
      position: absolute;
      color:#3E4455;
      font-weight: bold;
      width: 11rem;
      margin-top: -33.9px;
      margin-left: 4rem;
    }
}